<%- include('../partials/head.ejs') %> 
  <!-- login page -->
  <div class="login-page" >
    <!-- parent all section -->
    <div class="row no-gutters" >
      <!-- backgroung image -->
      <div class="col-8 bg-primary"  >
          <img src="/images/image-login.png" style="height: 100vh; width: 100%;" alt="halo">
      </div>
      <!-- form container -->
      <div class="col-4 bg-light d-flex align-items-center justify-content-center">
        <form action="/login" method="POST" class="login-form" style="width: 80%;">
            <img src="/images/logo.png" alt="">
            <h3>Welcome, Admin BCR</h3>

            <% if(typeof alert != 'undefined') { %>
              <% alert.forEach(function(error) { %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 12px;">
                      <%= error.msg %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
              <% }) %>
            <% } %>
            
            <!-- email -->
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" placeholder="Example: binar@gmail.com" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <small id="emailHelp" class="form-text text-muted">Input your email. We'll never share your email with anyone else.</small>
            </div>
            <!-- password -->
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input placeholder="6+ characters" type="password" class="form-control" name="password" id="exampleInputPassword1" required>
            </div>
            <!-- button submit -->
            <button type="submit" class="check btn btn-primary" style="width: 100%;">Sign In</button>
            <p class="message"></p>
          </form>
      </div>
      <!-- end of form container -->

    </div>
    <!-- end of all section -->

  </div>
  <!-- end of login-page -->

<%- include('../partials/tail.ejs') %> 