<!-- sidebar biru -->
<div class="sidebar d-flex flex-column sticky-top" style="height: 100vh; width: 5%; background: #0D28A6;">
    <div class="box d-flex justify-content-center align-items-center" style="height: 64px;">
      <img src="/images/small-logo.png" alt="small-logo">
    </div>
    <div class="box d-flex justify-content-center align-items-center" style="height: 64px; color: #F4F5F7;">
      <div class="content-image text-center">
        <a href="/dashboard" class="text-decoration-none text-light">
          <img src="/images/fi_home.png" alt="">
          <p style="margin: 0; font-size: 10px; ">Dashboard</p>
        </a>
      </div>
    </div>
    <div class="box d-flex justify-content-center align-items-center" style="height: 64px; color: #F4F5F7;">
      <div class="content-image">
        <a href="/cars" class="text-decoration-none text-light">
          <img src="/images/fi_truck.png" alt="">
          <p style="margin: 0; font-size: 10px;">Car</p>
        </a>
      </div>
    </div>
</div>