<!-- sidebar terang -->
<div class="col-2 bg-light sticky-top" style="height: 100vh; ">
    <div class="sub-text pl-3 font-weight-bold d-flex align-items-center" style=" height: 64px; color: #8A8A8A; "><p style="margin: 0;"><%= quicklink %> </p></div>
    <div class="sub-text pl-3 font-weight-bold d-flex align-items-center" style="height: 42px; background-color: #CFD4ED; "><p style="margin: 0;" ><%= quicklink %></p></div>
</div>