<!-- navbar -->
<nav class="navbar navbar-light bg-light justify-content-between shadow-sm sticky-top zindex-sticky: " style="height: 64px;">
    <div class="left-nav">
      <a class="navbar-brand"><img src="/images/logo.png" alt="logo" style="padding-right: 90px;"></a>
      <a class="navbar-brand"><img src="/images/icon_menu.png" alt="logo"></a>
    </div>
    <div class="right-nav">
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            <div class="photo-profile ml-3">
                <a class="bg-photo-profile"><img src="/images/ellipse-1.png" alt="logo"></a>
            </div>
            <div class="full-name d-flex align-items-center ml-2" style="height: 100%;">
                <div class="content-profil">
                    <p style="margin: 0;">Unis Badri</p>
                </div>
            </div>
            <i class="fa fa-solid fa-angle-down ml-2"></i>
        </form>
    </div>
</nav>